.normal {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
}
.card {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  padding: 20px;
  text-align: center;
  min-width: 80vw;
  margin: 10px 0;
  -webkit-transition: all 1000ms linear;
  -ms-transition: all 1000ms linear;
  transition: all 1000ms linear;
}
