.buttonStyle {
  color: transparent;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: default;
  margin: 8px;
  -webkit-transition: all 0.7s; /* Safari prior 6.1 */
  transition: all 0.7s;
}
.EmojiStyle {
  margin: 14px;
}

.buttonStyle:hover {
  border: 2px solid #ffffff8e;
  box-sizing: border-box;
}

.buttonStyle:focus {
  border: 2px solid #ffffff;

  outline: none;
}
