.genre-button {
  text-decoration: transparent;
  margin: auto;
  text-rendering: auto;
  color: #ffffff;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: transparent;
  box-sizing: border-box;
  font-family: Montserrat;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  transition: all 1s;
}
.genre-button:focus {
  background: #ffffff4d;
  outline: none;
}
.genre-button:hover {
  background: #ffffff23;
  outline: none;
}
