.list-container {
  display: grid;
  grid-template-columns: 50px auto 60px;
  grid-gap: 10px;
  text-align: left;
  padding: 19px 0px;
}
.list-who {
  display: grid;
  grid-template-rows: auto auto;
}
.list-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: #ffffff;
}
.list-artist {
  font-family: Zilla Slab;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */

  color: #cbcfd4;
}
.valence {
  font-family: Zilla Slab;
  color: #cbcfd4;
}
.list-audio {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  width: 100%;
}
audio {
  width: 100%;
}
